<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>メンバーリスト</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-radio-group class="radio-group" (change)="changeButton()" [(ngModel)]="selectedButton">
  <mat-radio-button class="radio-button" value="all">
    メンバー全員
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="kanji">
    欅坂46
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="hiragana1">
    けやき坂46 1期生
  </mat-radio-button>
  <mat-radio-button class="radio-button" value="hiragana2">
    けやき坂46 2期生
  </mat-radio-button>
</mat-radio-group>
<div>
 <mat-accordion *ngFor="let member of showMemberList">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{member.name}}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
  <p><span class="color" [style.background-color]="member.color1"></span><span class="colorName">{{member.color1Name}}</span></p>
  <p><span class="color" [style.background-color]="member.color2"></span><span class="colorName">{{member.color2Name}}</span></p>
  </mat-expansion-panel>
</mat-accordion>
</div>
