.color{
    border: solid 1px;
    display: inline-block;
    height: 15px;
    width: 100px;
}

.colorName{
    font-size: 15px;
}

.radio-group {
    display: inline-flex;
    flex-direction: row;
}
  
.radio-button {
    margin: 5px;
}